
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Home</h1>
			{{#if authorised}}
                <a href="/logout">Log out</a>
                <a href="/secure/submit">Add issue</a>
			{{else}}
				<a href="/login">Log in</a>
			{{/if}}
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	<main class="grid">
        {{#each issues}}
        <section><img src="{{this.photo}}" alt="test" /><h2>{{this.name}}</h2><p>{{this.locationDesc}}</p><p>{{this.date}}</p></section>
        {{/each}}
    </main>
	</body>
</html>