
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Issue - {{this.issue.name}}</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Issue</h1>
			{{#if authorised}}
                <a href="/logout">Log out</a>
			{{else}}
				<a href="/login">Log in</a>
			{{/if}}
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	<main class="grid">
        <section><img src="/{{this.issue.photo}}" alt="test" /><h2>{{this.issue.name}}</h2><p>{{this.issue.locationDesc}}</p><p>{{this.issue.detailedDesc}}</p><small>Reporter: {{this.issue.reporter}}</small><small>Status: {{this.issue.status}}</small><small>{{this.issue.date}}</small></section>
    </main>
	</body>
</html>
